<li>
    {{burger_name}}

    <button class="btn change-devour grey darken-1" data-id="{{id}}" data-newDevour="{{devour}}">
        {{#if devoured}}Make a new one!{{else}}Eat this burger!{{/if}}
    </button>

    <button class=" btn delete-burger grey darken-1" data-id="{{this.id}}">DELETE!</button>

</li>